.addAdminForm {
  padding: 5% 0;
  font-family: "Actor", sans-serif;
  font-size: 20px;
  padding: 5%;
  font-weight: bold;
}

.addAdminForm__btn {
  padding: 11px 40px;
}

.addAdminForm__Email {
  height: 50px;
  border: none;
  font-size: 15px;
  font-family: "Actor", sans-serif;
  font-weight: bold;
}
