@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
.service {
  padding: 5%;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
}

.service__header {
  color: #9cc684;
}

.service__img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

.service__card {
  border: none;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Libre Baskerville", serif;
}

.service__card:hover {
  box-shadow: 10px 10px 50px lightgray;
}
